<!doctype html>
<html>
<head>
    <title>Zendesk Integration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/system-notifications/system-notifications.css">

    <link href="assets/css/ui.css" rel="stylesheet">
</head>
<body class="hybrid v3">
<div id="container-app">
    <ul id="hybridSubmenu">
        <li id="tab-main"><a href="#main-page">Zendesk Settings</a></li>
        <li id="tab-help"><a href="#help">Instructions</a></li>
    </ul>

    <div id="container-body" class="container"></div>
</div>

<script type="text/template" id="main-template">
    <div class="main">
    <div class="smallwindow">
    <form class="hybridForm">
    <table class="default" cellspacing="0" cellpadding="0" width="760" border="0">
    <tr>
        <td colspan="2">
            <h2 class="hybridFormHeader">
                <span class="hybridFormTitlewrap">Zendesk Settings</span>
            </h2>
        </td>
    </tr>
    <tr><td colspan="2">
        <p>The following item is required for Zendesk widget setup. Copy it here
        from your Zendesk account settings.</p></td>
    </tr>
    <tr>
        <td class="var">
            <label>Your Zendesk subdomain:</label>
        </td>
        <td>
            <input type="text" size="40" name="zendesk-subdomain" value="<%= zendesk_subdomain %>">
        </td>
    </tr>
    <tr>
        <td class="var">
            <label>Show widget</label>
        </td>
        <td>
            <input type="checkbox" name="zendesk-showwidget" <%= zendesk_showwidget %> >
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h2 class="hybridFormHeader">
                <span class="hybridFormTitlewrap">Prepopulate Visitor Details</span>
            </h2>
            <p>This app allows to pass the foolowing values for logged-in users (prefilled in widget form).</p>
        </td>
    </tr>
    <tr>
        <td class="var">
            <label>Name</label>
        </td>
        <td>
            <input type="checkbox" name="zendesk-name" <%= zendesk_name %> >
        </td>
    </tr>
    <tr>
        <td class="var">
            <label>Email</label>
        </td>
        <td>
            <input type="checkbox" name="zendesk-email" <%= zendesk_email %> >
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h2 class="hybridFormHeader">
                <span class="hybridFormTitlewrap">Prepopulate Custom Fields</span>
            </h2>
        </td>
    </tr>
    <tr><td colspan="2">
        <p>Use your Zendesk account to add required fields for tickets (Admin - Manage - Ticket Fields) and enable ones for the widget (Admin - Channels - Widget - Custom ticket fields). Then use following interface for link visitor data with corresponded ticket fields by IDs (you can see IDs when setup ticket fields in Zendesk).</p>
        <p>If you want to combine few values and save the results to the one field input the same field ID for each of such values.</p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
        <table class="default" cellspacing="0" cellpadding="0" width="760" border="0">
        <tr>
            <th class="var">&nbsp;</th>
            <th>Field ID</th>
            <th>Prepopulate</h1>
            <th>Make hidden</th>
        </tr>
        <tr>
            <td class="var">Device class</td>
            <td><input type="text" size="40" name="zendesk-device-class-fid" class="fid" value="<%= zendesk_device_class_fid %>"></td>
            <td><input type="checkbox" name="zendesk-device-class" <%= zendesk_device_class %> ></td>
            <td><input type="checkbox" name="zendesk-device-class-hf"  <%= zendesk_device_class_hf %> ></td>
        </tr>
        <tr>
            <td class="var">Is logged in</td>
            <td><input type="text" size="40" name="zendesk-isloggedin-fid" class="fid" value="<%= zendesk_isloggedin_fid %>"></td>
            <td><input type="checkbox" name="zendesk-isloggedin" <%= zendesk_isloggedin %> ></td>
            <td><input type="checkbox" name="zendesk-isloggedin-hf"  <%= zendesk_isloggedin_hf %> ></td>
        </tr>
        <tr>
            <td class="var">CRM ID</td>
            <td><input type="text" size="40" name="zendesk-entityid-fid" class="fid" value="<%= zendesk_entityid_fid %>"></td>
            <td><input type="checkbox" name="zendesk-entityid" <%= zendesk_entityid %> ></td>
            <td><input type="checkbox" name="zendesk-entityid-hf"  <%= zendesk_entityid_hf %> ></td>
        </tr>

        <tr>
            <td class="var">Link to CRM record</td>
            <td><input type="text" size="40" name="zendesk-crmlink-fid" class="fid" value="<%= zendesk_crmlink_fid %>"></td>
            <td><input type="checkbox" name="zendesk-crmlink" <%= zendesk_crmlink %> ></td>
            <td><input type="checkbox" name="zendesk-crmlink-hf"  <%= zendesk_crmlink_hf %> ></td>
        </tr>
        <tr>
            <td class="var">Company</td>
            <td><input type="text" size="40" name="zendesk-company-fid" class="fid" value="<%= zendesk_company_fid %>"></td>
            <td><input type="checkbox" name="zendesk-company" <%= zendesk_company %> ></td>
            <td><input type="checkbox" name="zendesk-company-hf"  <%= zendesk_company_hf %> ></td>
        </tr>
        <tr>
            <td class="var">Website</td>
            <td><input type="text" size="40" name="zendesk-website-fid" class="fid" value="<%= zendesk_website_fid %>"></td>
            <td><input type="checkbox" name="zendesk-website" <%= zendesk_website %> ></td>
            <td><input type="checkbox" name="zendesk-website-hf"  <%= zendesk_website_hf %> ></td>
        </tr>
        <tr>
            <td class="var">Cellphone</td>
            <td><input type="text" size="40" name="zendesk-phone-fid" class="fid" value="<%= zendesk_phone_fid %>"></td>
            <td><input type="checkbox" name="zendesk-phone" <%= zendesk_phone %> ></td>
            <td><input type="checkbox" name="zendesk-phone-hf"  <%= zendesk_phone_hf %> ></td>
        </tr>
        <tr>
            <td class="var">Date of birth</td>
            <td><input type="text" size="40" name="zendesk-dob-fid" class="fid" value="<%= zendesk_dob_fid %>"></td>
            <td><input type="checkbox" name="zendesk-dob" <%= zendesk_dob %> ></td>
            <td><input type="checkbox" name="zendesk-dob-hf"  <%= zendesk_dob_hf %> ></td>
        </tr>

        <tr>
            <td class="var">Customer type</td>
            <td><input type="text" size="40" name="zendesk-customertype-fid" class="fid" value="<%= zendesk_customertype_fid %>"></td>
            <td><input type="checkbox" name="zendesk-customertype" <%= zendesk_customertype %> ></td>
            <td><input type="checkbox" name="zendesk-customertype-hf"  <%= zendesk_customertype_hf %> ></td>
        </tr>
        <tr>
            <td class="var">Industry</td>
            <td><input type="text" size="40" name="zendesk-industry-fid" class="fid" value="<%= zendesk_industry_fid %>"></td>
            <td><input type="checkbox" name="zendesk-industry" <%= zendesk_industry %> ></td>
            <td><input type="checkbox" name="zendesk-industry-hf"  <%= zendesk_industry_hf %> ></td>
        </tr>
        <tr>
            <td class="var">Rating</td>
            <td><input type="text" size="40" name="zendesk-rating-fid" class="fid" value="<%= zendesk_rating_fid %>"></td>
            <td><input type="checkbox" name="zendesk-rating" <%= zendesk_rating %> ></td>
            <td><input type="checkbox" name="zendesk-rating-hf"  <%= zendesk_rating_hf %> ></td>
        </tr>


        <tr>
            <td class="var">Is wholesaler</td>
            <td><input type="text" size="40" name="zendesk-iswholesaler-fid" class="fid" value="<%= zendesk_iswholesaler_fid %>"></td>
            <td><input type="checkbox" name="zendesk-iswholesaler" <%= zendesk_iswholesaler %> ></td>
            <td><input type="checkbox" name="zendesk-iswholesaler-hf"  <%= zendesk_iswholesaler_hf %> ></td>
        </tr>
        </table>
        </td>
    </tr>
    <tr><td colspan="2">
        <p>After press "Save" button app will generate special code for 
        inserting a widget. See "Instructions" section for info how
        to add one to your pages.</p></td>
    </tr>
    </table>
    </form>
    </div>
    <br>
    <span class="positionMarker"></span>
    <div class="footerbuttons floatingButtons" data-hybrid-fixed="true" data-hybrid-fixed-processed="true" style="height:37px;">
        <a class="basic-button large-button call-to-action" id="save-button" style="margin-left:10px;margin-top:-5px;">Save</a>
    </div>
</script>

<script type="text/template" id="help-template">
    <div class="hybridForm">
        <h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">Zendesk Integration</span></h2>
            <p>App Version: 1.0</p>
            <p>This application allows easily to integrate Zendesk help widget on your site.</p>
        <h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">Usage</span></h2>
            <ol>
                <li>Input your Zendesk subdomain to the corresponding field on the Zendesk Settings section.</li>
                <li>Press "Save" button.</li>
                <li>Place the next code: <br/>
                <code>&#123% include "/_System/apps/sbits-zendesk/zendesk.inc" %&#125</code>
                <br/>before closing tag <code>&lt;/head&gt;</code> on all pages where you want to place the widget. It can be not only pages, you also can use
                    page templates or special content holder (if use something similar for 
                    your footer) for placing the widget to the group of pages. See demo video 
                    in app store.</li>
            </ol>
        <h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">Requirements</span></h2>
            <ol>
                <li>Active Zendesk account</li>
                <li>Liquid markup enabled on website</li>
                <li>jQuery installed on website (for extra features)</li>
            </ol>
        <h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">Remove App</span></h2>
            <p><b>WARNING:</b> Removing this application will delete the app, all app files and generated includes. Removing this app from your website should not break your website, however we recommend to remove the line of code from the installation instructions before deleting the app.</p>
            <button type="button" id="uninstall-button" class="basic-button large-button">Delete App</button>
    </div>
</script>

<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script type="text/javascript" src="assets/system-notifications/system-notifications.js"></script>
<script type="text/javascript" src="//cdn.worldsecuresystems.com/bcapi/bcapi-0.1.0.min.js"></script>
<script type="text/javascript" src="assets/js/run.js"></script>

</body>
</html>